body {
	background-color: #fff;
	color: #ffffff;
	font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
button {
	cursor: pointer;
	background-color: #3470ff;
	border: none;
	color: #ffffff;
}
button:hover,
button:focus,
button:active {
	background-color: #0b44cd;
}
