.homePage {
	background: url("/src/assets/background.jpg") no-repeat 0px 0px / cover;
	display: flex;
	height: calc(100vh - 68px);
}
.container {
	text-align: center;
	width: 783px;
	height: 204px;
	margin: 436px auto;
}

.title {
	font-weight: 700;
	font-size: 60px;
	line-height: 1.2;
	color: #FFFFFF;
}
.text {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.3;
	margin: 16px auto 40px;
	color: #FFFFFF;
}
